# Coumpound Datatypes in Python

## Lists

List methods
- **append()**	   Adds an element at the end of the list
- **clear()**	   Removes all the elements from the list
- **copy()**	Returns a copy of the list
- **count()**	Returns the number of elements with the specified value
- **extend()**	Add the elements of a list (or any iterable), to the end of the current list
- **index()**	Returns the index of the first element with the specified value
- **insert()**	Adds an element at the specified position
- **pop()**	Removes the element at the specified position
- **remove()**	Removes the first item with the specified value
- **reverse()**	Reverses the order of the list
- **sort()**	Sorts the list

In [ ]:
friends = ["prathjina", "meghna", "junaid", "tushar", "prajtit"]

In [17]:
type(friends)

list

In [18]:
# Add a new friend to the list
friends.append("rishika")

In [19]:
friends

['prathjina', 'meghna', 'junaid', 'tushar', 'prajtit', 'rishika']

In [20]:
len(friends)

6

In [21]:
purchase = ["milk", "sugar", "salt", "milk", "salt", "tea", "milk"]
purchase.count("milk")

3

In [22]:
purchase.reverse()
print(purchase)

['milk', 'tea', 'salt', 'milk', 'salt', 'sugar', 'milk']

In [25]:
allItems = friends + purchase
allItems

['prathjina',
 'meghna',
 'junaid',
 'tushar',
 'prajtit',
 'rishika',
 'milk',
 'tea',
 'salt',
 'milk',
 'salt',
 'sugar',
 'milk']

In [26]:
# Iterate over a list
for item in purchase:
    print(item)

milk
tea
salt
milk
salt
sugar
milk

In [9]:
# type inference
name = "monkey"
type(name)

print(name , 5)

print(5/3)

import sys

sys.getsizeof(4)

monkey 5
1.6666666666666667

28

In [11]:
names = ["a","b","c"]
for i in names:
    print(id(i))

140703961562336
140703961563392
140703961564320