In [8]:
numbers = [0,1,2,3,4,5,6,7,8,9]

print(numbers[:-4])

[0, 1, 2, 3, 4, 5]

In [12]:
# comprehension

markList = [
    [("a", 1545451), [1,2,3,4]],
    [("b", 7687367), [7,2,4,5]],
    [("c", 8787333), [3,5,2,5]]
]

for (name, id), marks in markList:
    print("{}-({})".format(name, str(id)))
    math, social, science, english = marks
    print("Maths: {}, Science: {}, Social: {}, English:{}".format(math, science, social,english))
    print("________________")

a-(1545451)
Maths: 1, Science: 3, Social: 2, English:4
________________
b-(7687367)
Maths: 7, Science: 4, Social: 2, English:5
________________
c-(8787333)
Maths: 3, Science: 2, Social: 5, English:5
________________

In [16]:
stuff = (1,2,4,5,6,7)
stuff[2] = 8

TypeError: 'tuple' object does not support item assignment

In [20]:
numbers = (1,2,3,3,4,3,3,5,4,2,3)
unique_numbers = set(numbers)
unique_numbers

{1, 2, 3, 4, 5}

In [18]:
for i in reversed(numbers):
    print(i)

9
8
7
6
5
4
3
2
1
0